<!DOCTYPE html>
<html lang="en">
{{ template "head" }}
<body>
{{ template "navbar" }}

<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row" style="height: 200px;">
            <div class="col-xl-9 mx-auto">
                {{ if .request.URL.Scheme }}
                    <h1 class="mb-5">
                        Your new URL is:
                        <p>
                            { .request.URL.Scheme }}://{{ .request.Host }}/{{ .shortUrl.Code }}
                        </p>
                    </h1>
                {{ else }}
                    <h1 class="mb-5">
                        Your new URL is:
                        <p>
                            http://{{ .request.Host }}/{{ .shortUrl.Code }}
                        </p>
                    </h1>
                {{ end }}
            </div>
        </div>
    </div>
</header>

{{ template "footer" }}

{{ template "js" }}
</body>
</html>